.movie_card {
  width: 11rem !important;
  animation: collapse 1s paused alternate;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}

.movie_card:hover > img {
}
.movie_card:hover > .card-body {
  color: var(--specialColor);
  transition: all 0.3s;
}


.movie_card > .card-body {
  color: var(--textColor);
}
.movie_card > .img-container > img {
  height: 16rem;
}

.movie_card > .img-container > .card-overlay {
  opacity: 0;
  background-color: var(--scrollNavColor);
}
.movie_card:hover > .img-container > .card-overlay {
  opacity: 1;
  transition: opacity 0.3s;
}
.movie_card > .img-container > .card-overlay>.card-btns > button{
  color: var(--textColor);
}

.movie_card > .img-container > .card-overlay>.card-btns > button:hover {
  color: var(--specialColor) !important;
  transition: all 0.3s;
}
